<div class="container">
   <div class="row">
     <div class="col-md-10 col-md-offset-1">
       <div class="page-header text-center">

           <h2><%= @user.name %></h2>
           <p><strong><%= @user.company %></strong></p>
           <p><strong><%= @user.title %></strong></p>
           <p><strong><%= @user.website %></strong></p>
           <p><strong><%= @user.twitter%></strong></p>
           <p><strong><%= @user.github %></strong></p>
           <ul class="list-unstyled list-inline">
             <li><strong><%= @user.questions.count %></strong> 已發表的問題數量</li>
             <li><strong><%= @user.answers.count %></strong> 已發表的解答數量</li>
             <li><strong><%= @most_upvotes_question.question_upvotes_count %></strong> 獲得最多 upvote 問題的 upvote 數量</li>
             <% if @most_upvotes_answer != nil %>
               <li><strong><%= @most_upvotes_answer.answer_upvotes_count %></strong> 獲得最多 upvote 解答的 upvote 數量</li>
             <% else %>
               <li><strong>0</strong> 獲得最多 upvote 解答的 upvote 數量</li>
             <% end %>
             <li><strong><%= @votes_total %></strong> 獲得的 upvote 總數（問題＋解答）</li>
           </ul>
           <div><%= simple_format @user.intro %></div>
           <% if @user == current_user %>
             <%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn btn-info" %>
             <%= link_to 'Edit Password',edit_user_registration_path, class: "nav-text btn btn-info" %>
           <% end %>
         
       </div>
      </div>
    </div>
  </div>
