<div class="container">
   <div class="row">
     <div class="col-md-10 col-md-offset-1">
       <div class="page-header text-center">

           <h2><%= @user.name %></h2>
           <p><strong><%= @user.company %></strong></p>
           <p><strong><%= @user.title %></strong></p>
           <p><strong><%= @user.website %></strong></p>
           <p><strong><%= @user.twitter%></strong></p>
           <p><strong><%= @user.github %></strong></p>
           <ul class="list-unstyled list-inline">
             <li><strong><%= @user.questions_count %></strong> 已發表的問題數量</li>
             <li><strong><%= @user.answers_count %></strong> 已發表的解答數量</li>
             <li><strong><%#= @questions.upvote_count %></strong> 獲得最多 upvote 問題的 upvote 數量</li>
             <li><strong><%#= @answers.upvote_count %></strong> 獲得最多 upvote 解答的 upvote 數量</li>
             <li><strong><%= @user.upvotes_count %></strong> 獲得的 upvote 總數（問題＋解答）</li>
           </ul>
           <div><%= simple_format @user.intro %></div>
           <% if @user.email == current_user.email %>
             <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-info" %>
             <%= link_to 'Edit Password',edit_user_registration_path, class: "nav-text btn btn-info" %>
             <%= link_to 'Favorited Question',favorite_user_path(@user), class: "nav-text btn btn-info" %>
           <% end %>

       </div>
      </div>
    </div>
  </div>
